/.project
.DS_Store
.idea

web/composer.phar
web/fuel/vendor
web/fuel/app/logs/*/*/*
web/fuel/app/cache/*/*
web/fuel/app/config/crypt.php
web/fuel/app/config/production/*
web/fuel/app/config/staging/*
web/fuel/app/tmp/*

deploy.sh
