<Files ~ "^\.(htaccess|htpasswd)$">
Deny from all
</Files>
AuthType Basic
AuthUserFile /var/www/dev_kinyujoshi/web/public/careservice/.htpasswd
AuthName "Please enter your ID and password"
Require valid-user